App/build
App/Pods
App/output
App/App/public
App-Cocoapods/build
App-Cocoapods/Pods
App-Cocoapods/output
App-Cocoapods/App/public
DerivedData
xcuserdata

# Cordova plugins for Capacitor
capacitor-cordova-ios-plugins

# Generated Config files
App/App/capacitor.config.json
App-Cocoapods/App/capacitor.config.json
App/App/config.xml
App-Cocoapods/App/config.xml
