<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-purchases" version="1.0.6-SNAPSHOT">

    <dependency id="cordova-annotated-plugin-android" />

    <name>Purchases</name>
    <description>Purchases Cordova Plugin</description>
    <license>MIT</license>
    <keywords>cordova,purchases,revenuecat,iap,inapp,in-app,storekit,purchase</keywords>
    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="Purchases" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PurchasesPlugin">
                <param name="android-package" value="com.revenuecat.purchases.PurchasesPlugin" />
            </feature>
        </config-file>
        <framework src="com.revenuecat.purchases:purchases:3.0.5" />
        <lib-file src="src/android/common-release.aar"/>
        <framework src="src/android/common.gradle" custom="true" type="gradleReference"/>
        <source-file src="src/android/PurchasesPlugin.java" target-dir="src/com/revenuecat/purchases"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PurchasesPlugin">
                <param name="ios-package" value="CDVPurchasesPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVPurchasesPlugin.h" />
        <source-file src="src/ios/CDVPurchasesPlugin.m" />
        <header-file src="src/ios/Common/RCPurchaserInfo+HybridAdditions.h" />
        <source-file src="src/ios/Common/RCPurchaserInfo+HybridAdditions.m" />
        <header-file src="src/ios/Common/SKProduct+HybridAdditions.h" />
        <source-file src="src/ios/Common/SKProduct+HybridAdditions.m" />
        <source-file src="src/ios/Common/RCEntitlementInfo+HybridAdditions.h" />
        <source-file src="src/ios/Common/RCEntitlementInfo+HybridAdditions.m" />
        <source-file src="src/ios/Common/RCEntitlementInfos+HybridAdditions.h" />
        <source-file src="src/ios/Common/RCEntitlementInfos+HybridAdditions.m" />
        <source-file src="src/ios/Common/RCCommonFunctionality.h" />
        <source-file src="src/ios/Common/RCCommonFunctionality.m" />
        <source-file src="src/ios/Common/RCErrorContainer.h" />
        <source-file src="src/ios/Common/RCErrorContainer.m" />
        <source-file src="src/ios/Common/RCOffering+HybridAdditions.h" />
        <source-file src="src/ios/Common/RCOffering+HybridAdditions.m" />
        <source-file src="src/ios/Common/RCOfferings+HybridAdditions.h" />
        <source-file src="src/ios/Common/RCOfferings+HybridAdditions.m" />
        <source-file src="src/ios/Common/RCPackage+HybridAdditions.h" />
        <source-file src="src/ios/Common/RCPackage+HybridAdditions.m" />
        <framework src="src/ios/Purchases.framework" embed="true" custom="true" />
    </platform>
</plugin>