<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="cordova-plugin-purchases" version="2.3.1">

    <dependency id="cordova-annotated-plugin-android" />

    <name>Purchases</name>
    <description>Purchases Cordova Plugin</description>
    <license>MIT</license>
    <keywords>cordova,purchases,revenuecat,iap,inapp,in-app,storekit,purchase</keywords>
    <js-module src="www/plugin.js" name="plugin">
        <clobbers target="Purchases" />
    </js-module>
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="PurchasesPlugin">
                <param name="android-package" value="com.revenuecat.purchases.PurchasesPlugin" />
            </feature>
        </config-file>
        <framework src="com.revenuecat.purchases:purchases-hybrid-common:1.9.1" />
        <framework src="androidx.annotation:annotation:[1.2.0]"/>
        <source-file src="src/android/PurchasesPlugin.java" target-dir="src/com/revenuecat/purchases"/>
    </platform>
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="PurchasesPlugin">
                <param name="ios-package" value="CDVPurchasesPlugin"/>
            </feature>
        </config-file>
        <header-file src="src/ios/CDVPurchasesPlugin.h" />
        <source-file src="src/ios/CDVPurchasesPlugin.m" />
        <source-file src="src/ios/PurchasesPlugin.swift" />
        <podspec>
            <config>
                <source url="https://github.com/CocoaPods/Specs.git"/>
            </config>
            <pods use-frameworks="true">
                <pod name="PurchasesHybridCommon" spec="1.9.1"/>
            </pods>
        </podspec>
    </platform>
    <params name="ANDROIDXENABLED" value="true" />
</plugin>