version: 2.1
orbs:
  macos: circleci/macos@2.3.6
  android: circleci/android@3.0.2
  node: circleci/node@5.1.0
  revenuecat: revenuecat/sdks-common-config@2.2.0

aliases:
  base-mac-job: &base-mac-job
    resource_class: m4pro.medium
    macos:
      xcode: '26.2.0'
    shell: /bin/bash --login -o pipefail

  release-tags: &release-tags
    filters:
      tags:
        ignore: /^.*-SNAPSHOT/
      branches:
        ignore: /.*/

  release-branches: &release-branches
    filters:
      tags:
        ignore: /.*/
      branches:
        only: /^release\/.*/

  only-main-branch: &only-main-branch
    filters:
      tags:
        ignore: /.*/
      branches:
        only: main

parameters:
  action:
    type: enum
    enum: [build, upgrade-hybrid-common, bump]
    default: build
  version:
    type: string
    default: ''
  automatic:
    type: boolean
    default: false

commands:

  install-nvm:
    steps:
      - node/install:
          install-yarn: true

  yarn-dependencies-unix:
    description: "Install yarn dependencies"
    steps:
      - install-nvm
      - restore_cache:
          key: v2-unix-dependencies-{{ checksum "package.json" }}
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v2-unix-dependencies-{{ checksum "package.json" }}

  yarn-dependencies-mac:
    description: "Install yarn dependencies"
    steps:
      - install-nvm
      - restore_cache:
          key: v2-mac-dependencies-{{ checksum "package.json" }}
      - run: yarn
      - save_cache:
          paths:
            - node_modules
          key: v2-mac-dependencies-{{ checksum "package.json" }}

  yarn-dependencies-ui-unix:
    description: "Install yarn dependencies for UI package"
    steps:
      - install-nvm
      - restore_cache:
          key: v2-unix-ui-dependencies-{{ checksum "purchases-capacitor-ui/package.json" }}
      - run:
          name: Install UI package dependencies
          command: cd purchases-capacitor-ui && npm install
      - save_cache:
          paths:
            - purchases-capacitor-ui/node_modules
          key: v2-unix-ui-dependencies-{{ checksum "purchases-capacitor-ui/package.json" }}

  yarn-dependencies-ui-mac:
    description: "Install yarn dependencies for UI package on Mac"
    steps:
      - install-nvm
      - restore_cache:
          key: v2-mac-ui-dependencies-{{ checksum "purchases-capacitor-ui/package.json" }}
      - run:
          name: Install UI package dependencies
          command: cd purchases-capacitor-ui && npm install
      - save_cache:
          paths:
            - purchases-capacitor-ui/node_modules
          key: v2-mac-ui-dependencies-{{ checksum "purchases-capacitor-ui/package.json" }}

  install-sdkman:
    description: Install SDKMAN
    steps:
      - run:
          name: Installing SDKMAN
          command: |
            curl -s "https://get.sdkman.io?rcupdate=false" | bash
            echo -e '\nsource "/home/circleci/.sdkman/bin/sdkman-init.sh"' >> $BASH_ENV
            source $BASH_ENV
      - run:
          name: Setup Java environment
          command: |
            sdk env install
            echo -e '\nexport JAVA_HOME="/home/circleci/.sdkman/candidates/java/current"' >> $BASH_ENV

  copy-npm-rc:
    steps:
      - run:
          name: Copy npmrc sample file to final location
          command: cp .npmrc.SAMPLE .npmrc

  copy-npm-rc-ui:
    steps:
      - run:
          name: Copy npmrc sample file to UI package location
          command: cp .npmrc.SAMPLE purchases-capacitor-ui/.npmrc

jobs:
  run-tests-ios:
    <<: *base-mac-job
    steps:
      - checkout
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - yarn-dependencies-mac
      - run: yarn build
      - run: yarn verify:ios

  run-tests-android:
    executor:
      name: android/android_machine
      resource_class: large
      tag: default
    steps:
      - checkout
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - yarn-dependencies-unix
      - run: yarn build
      - run: yarn verify:android

  build-purchase-tester:
    <<: *base-mac-job
    steps:
      - checkout
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - yarn-dependencies-mac
      - run:
          name: Build purchase tester
          command: bundle exec fastlane build_purchase_tester

  run-lint:
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - yarn-dependencies-unix
      - run: yarn build
      - run: yarn lint

  make-release:
    description: "Publishes the new version and creates a github release"
    <<: *base-mac-job
    steps:
      - checkout
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - yarn-dependencies-mac
      - revenuecat/trust-github-key
      - copy-npm-rc
      - run:
          name: release
          command: bundle exec fastlane release

  run-maestro-e2e-tests:
    <<: *base-mac-job
    steps:
      - checkout
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - yarn-dependencies-mac
      - revenuecat/install-maestro
      - run:
          name: Boot iOS Simulator
          command: |
            xcrun simctl boot "iPhone 16 Pro" || true
            xcrun simctl bootstatus "iPhone 16 Pro" -b
      - run:
          name: Run Maestro E2E Tests
          command: bundle exec fastlane run_maestro_e2e_tests
          no_output_timeout: 15m
      - store_test_results:
          path: fastlane/test_output
      - store_artifacts:
          path: fastlane/test_output

  update-hybrid-common-versions:
    description: "Creates a PR updating purchases-hybrid-common to latest release"
    <<: *base-mac-job
    steps:
      - checkout
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - revenuecat/trust-github-key
      - revenuecat/setup-git-credentials
      - run:
          name: Updating to next version of phc
          command: |
            bundle exec fastlane update_hybrid_common \
            version:<< pipeline.parameters.version >> \
            open_pr:true \
            automatic_release:<< pipeline.parameters.automatic >>

  # Note this is not using the orb's automatic-bump job since we need to install yarn to update docs here.
  bump:
    description: >
      Runs automatic bump
    docker:
      - image: cimg/ruby:3.1.2
    shell: /bin/bash --login -o pipefail
    steps:
      - checkout
      - revenuecat/trust-github-key
      - revenuecat/setup-git-credentials
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - yarn-dependencies-unix
      - run:
          name: Create automatic PR
          command: bundle exec fastlane automatic_bump github_rate_limit:10

  # UI Package Jobs
  run-lint-ui:
    description: "Run linting for purchases-capacitor-ui package"
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - yarn-dependencies-unix
      - yarn-dependencies-ui-unix
      - run: yarn build
      - run:
          name: Lint UI package
          command: cd purchases-capacitor-ui && npm run lint

  dry-run-release-ui:
    description: "Validate purchases-capacitor-ui package can be published"
    docker:
      - image: cimg/ruby:3.1.2
    steps:
      - checkout
      - revenuecat/install-gem-unix-dependencies:
          cache-version: v1
      - run:
          name: Temporarily bump version
          description: Running `npm publish --dry-run` for an existing version fails because the version is already published. This lane temporarily bumps the version to a next version just for testing the publish command.
          command: bundle exec fastlane temporary_bump_version
      - yarn-dependencies-unix
      - yarn-dependencies-ui-unix
      - run: yarn build
      - run:
          name: Build UI package
          command: cd purchases-capacitor-ui && npm run build
      - run:
          name: Dry run UI package release
          command: cd purchases-capacitor-ui && npm publish --dry-run

  make-release-ui:
    description: "Publishes the UI package to npm"
    <<: *base-mac-job
    steps:
      - checkout
      - revenuecat/install-gem-mac-dependencies:
          cache-version: v1
      - yarn-dependencies-mac
      - yarn-dependencies-ui-mac
      - revenuecat/trust-github-key
      - copy-npm-rc-ui
      - run:
          name: Release UI package
          command: bundle exec fastlane release_purchases_capacitor_ui

workflows:
  version: 2
  build-test-hold-deploy:
    when:
      not:
        equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
    jobs:
      # Testing phase - runs on all branches
      - run-tests-ios
      - run-tests-android
      - run-lint
      - build-purchase-tester
      # UI Package jobs
      - run-lint-ui
      - dry-run-release-ui

      # Hold and deploy phase - only on release branches
      - hold:
          type: approval
          requires:
            - run-tests-ios
            - run-tests-android
            - run-lint
            - run-lint-ui
          <<: *release-branches
      - revenuecat/tag-current-branch:
          requires:
            - hold
          <<: *release-branches
      - make-release:
          <<: *release-tags
      - make-release-ui:
          requires:
            - make-release
          <<: *release-tags

  danger:
    jobs:
      - revenuecat/danger

  weekly-run-workflow:
    when:
      and:
        - equal: [ scheduled_pipeline, << pipeline.trigger_source >> ]
        - equal: [ "release-train", << pipeline.schedule.name >> ]
    jobs:
      - bump

  manual-trigger-bump:
    when:
      equal: [ bump, << pipeline.parameters.action >> ]
    jobs:
      - bump

  maestro-e2e-tests:
    when:
      or:
        - equal: ["maestro_e2e_tests", << pipeline.schedule.name >>]
    jobs:
      - run-maestro-e2e-tests

  update-hybrid-common-versions:
    when:
      equal: [ upgrade-hybrid-common, << pipeline.parameters.action >> ]
    jobs:
      - update-hybrid-common-versions
